* {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

#root {
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}